@import "../Vars.scss";
@import "../Media.scss";

/* Estilos para el footer. */

.footer {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100px;
    background-color: $color-up;
}

.isLoginF, .isRegistrerF {
    background-color: transparent;
}


/* Enlaces del foooter */
.footer a {
    color: $color_wite;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
    margin: 30px;
}

/* Evento al pasar el mouse sobre los enlaces del footer. */
.footer a:hover {
    text-decoration: underline;
}
