/* ESTILOS PARA EL LOGIN Y EL SINUP. */
/* Estilos del Menú y la cabezera. */

/* Quitando estilos default del navegador. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para el body. */
body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Muli', sans-serif;
}

/* Estilos del header. */
.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

/* Estilos del logo. */
.header__img {
    width: 200px;
    margin: 10px 0 0 10px;
}
