/* Estilos del Menú y la cabezera. */
@import "./Vars.scss";
@import "./Media.scss";

/* Quitando estilos default del navegador. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para el body. */
.app {
    background: linear-gradient($color-up, $color_down);
    font-family: $theme-font;
}